
body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    background-color: #ffffff; 
}

a:hover {
    text-decoration: none;
}


#menu1{
    background-color: #bf4611;
    
}
#info{
    background-color: #ffffff;
}

#cardPadre{
    border-top-color: #bf4611;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    
}
#cardEncabezado{
    background-color: #ffffff;
    border-color: #bf4611;
}

#cardBody{
    background-color: #ffffff;
}

#fondo{
   background-color: #fffffff;
}


#container{
    background-color: #bf4611;
    
}
#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}
.stat {
    border-right: 1px solid var(--grey);
}


  
  




/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23/05/2022, 9:35:35 p. m.
    Author     : LENOVO
*/

